.displayweb-inline-block{
    display: inline-block !important;
}
.div-displayflex{
    display: flex !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-edit-address{
    display: inline-block;
    box-sizing: border-box;
    width: 150px;
    padding-top: 10px;
    text-align: center;
    height: 50px;
    border-radius: 4px;
    border: none;
    color: #ffffff !important;
    background-color: #0d943f;
    border-color: #0d943f;
    font-size: 15px;
    line-height: 34px;
    margin-right: 20px;
   
}

.btn-delete-address{
    display: inline-block;
    width:150px;
    box-sizing: border-box;
    line-height: 34px;
    font-size:15px;
    text-align: center;
    color: #ffffff !important;
    padding-top: 10px;
    border-radius: 4px;
    border-color: #0d943f;
    background-color:red;

}
