.address-header{
    color: #4f4f4f;
    font-size: 28px;
    line-height: 36px;
    margin: 0;
    padding: 50px 0;

}

.addnew-text{
  float:right;
   color: #0d943f !important;
    width: 100% !important;
    padding-bottom: 10px;
    border-bottom: 1px #e1e1e1 solid;

}

.address-add-new{
    padding-top: 5% !important;
    padding-bottom: 10px !important;
    border-bottom:  1px #e1e1e1 solid;
    font-size: 25px;
    padding-left: 11%;
    
}
html[dir="rtl"] .addnew-text{
    float: left;
   
}
.borderBottomAddNew{
    border-bottom: 1px #e1e1e1 !important;
}

.floatAddtext{
   float: right ;
   text-align-last: end;
}
html[dir="rtl"] .floatAddtext{
   float: left;
   text-align-last: start;
}