#xmas-ph .intl-tel-input .allow-dropdown .separate-dial-code .iti-sdc-3 .selected-flag {
    width: 78px;
    height:53px !important;


}
#xmas-ph .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 .selected-flag{
    width: 82px !important;
    height:53px !important;
 
}

.xmasImage{
    width: 1024px;
    height: 140px;
    margin: 2%;
}

@media only screen and (max-width:767px){
    .xmasImage{
        width: auto;
        margin: 0%;
       
    }  
}
@media only screen and (min-width:767px) and ( max-width:1024px){
    .xmasImage{
        width: auto;
        margin: 0%;
       
    }  
}
