#xmas-ph .intl-tel-input .allow-dropdown .separate-dial-code .iti-sdc-3 .selected-flag {
    width: 78px;
    height:53px !important;


}
#xmas-ph .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 .selected-flag{
    width: 82px !important;
    height:53px !important;
 
}