
html[dir='rtl'] .paddingRight-ar
{
    padding-right: 15px!important;
}

.paddingStyle
{
padding:10px!important;
}

.width-full .t-Form-inputContainer{
   margin-bottom: 50px;
   height: 300px;
    position: absolute;
}
.width-full .country-list{
    width: 100% !important;
}

.width-full .intl-tel-input{
    width: 92% !important;
}

html[dir="rtl"] .width-full .intl-tel-input{
    width: 93% !important;
}

.padd-right-div{
    padding-right: 0px;
}

.marginForContactDroupDown{
    right: 0px
}

html[dir="rtl"] .marginForContactDroupDown{
    right: 13px
}
@media only screen and (max-width:767px)
{
    .t-Form-inputContainer{
      width: 99% !important;  
    }
     html[dir="rtl"] .t-Form-inputContainer{
      width: 99% !important;  
    }

    .width-full .intl-tel-input{
        width: 90% !important;
    }

    html[dir="rtl"] .intl-tel-input.iti-container {
    position: absolute;
    z-index: 1060;
    padding: 1px;
    width: 72% !important;
    margin: 0 auto !important;
}
   .intl-tel-input.iti-container {
    position: absolute;
    z-index: 1060;
    padding: 1px;
    width: 77% !important;
    margin: 0 auto !important;
}
    .mob-width .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input, .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input[type=text], .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input[type=tel]{
           padding-top: 0px !important;
    }
    .iti-mobile .intl-tel-input.iti-container {
    top: 50% !important;
    bottom: 30px;
    position: absolute!important;
    height: 300px !important;
    z-index: 9999 !important;
    transform: translateY(30%);
}
 html[dir="rtl"] .iti-mobile .intl-tel-input.iti-container {
    top: 36em !important;
    position: absolute!important;
    height: 300px !important;
    z-index: 9 !important;
    transform: translateY(30%);
}
    .t-Region-body {
    font-size: 1.4rem;
    line-height: 2rem;
    overflow: unset;
    position: relative;
}
    .t-Region--noBorder>.t-Region-bodyWrap>.t-Region-body {
    padding: 0px !important;
}
    .width-full .t-Form-inputContainer {
    margin-bottom: 50px;
    height: unset !important;
    position: absolute;
}
.colclass
{
flex: 0 0 100% !important;
max-width: 100% !important;
}
.mob-width
{
flex: 0 0 100% !important;
max-width: 100% !important;
}
.order-bg{
    margin-top: 50px !important;
}
.marginClass
{
margin: 0px !important
}
.colclass .margin-right-lg {
    margin-right: 0px!important;
}

.colclass .margin-left-lg {
    margin-left: 0px!important;
}
.padd-zero-mob{
    padding: 0px !important;
}
html[dir="rtl"] #with .t-Form-labelContainer {
   
    width: auto  !important;
}
}


@media only screen and (min-width:768px) and (max-width:1024px)
{
    .colclass
{
flex: 0 0 100% !important;
max-width: 100% !important;
}


.marginClass
{
margin: 0px !important;
} 
 .iti-mobile .intl-tel-input.iti-container {
    top: 36em !important;
    bottom: 30px;
    position: absolute!important;
    height: 300px !important;
    z-index: 9 !important;
    transform: translateY(30%);
}
 html[dir="rtl"] .iti-mobile .intl-tel-input.iti-container {
    top: 36em !important;
    position: absolute!important;
    height: 300px !important;
    z-index: 9 !important;
    transform: translateY(30%);
}
}

@media only screen and (min-width:768px)
{
    .width-full-desk{
    flex: 0 0 100% !important;
    max-width: 100% !important;
    }
    
    .order-bg{
    margin-top: 60px !important;
    }

    html[dir="rtl"] .order-bg{
        margin-top: 70px !important;
    }

    .width-full .t-Form-inputContainer {   
        width: 100%;
    }
    html[dir="rtl"] #with .t-Form-labelContainer {
        text-align: right !important;
        width: auto  !important;
    }
}
.ft-icon{
    margin-right: 15px;
    height: 40px !important;
    width: 40px !important;
}
#ph #widthfull .country-list {
    width: 95% !important;
}
#ph input[type=tel] {
    width: 92.2% !important;
}

@media (max-width:767px){
    #ph input[type=tel] {
        width: 90.2% !important;
    }
}