.paddingStyle
{
padding:10px!important;
}

.width-full .t-Form-inputContainer{
   margin-bottom: 50px;
   height: 300px;
    position: absolute;
}
.width-full .country-list{
    width: 100% !important;
}

.width-full .intl-tel-input{
    width: 95% !important;
}
.padd-right-div{
    padding-right: 0px;
}
@media only screen and (max-width:767px)
{
    .t-Region--noBorder>.t-Region-bodyWrap>.t-Region-body {
    padding: 0px !important;
}
    .width-full .t-Form-inputContainer {
    margin-bottom: 50px;
    height: unset !important;
    position: absolute;
}
.colclass
{
flex: 0 0 100% !important;
max-width: 100% !important;
}
.mob-width
{
flex: 0 0 100% !important;
max-width: 100% !important;
}
.order-bg{
    margin-top: 50px !important;
}
.marginClass
{
margin: 0px !important
}
.colclass .margin-right-lg {
    margin-right: 0px!important;
}

.colclass .margin-left-lg {
    margin-left: 0px!important;
}
.padd-zero-mob{
    padding: 0px !important;
}
}


@media only screen and (min-width:768px) and (max-width:1024px)
{
    .colclass
{
flex: 0 0 100% !important;
max-width: 100% !important;
}


.marginClass
{
margin: 0px !important
} 
}