.styles_overlayCenter__YHoO7 {
    padding: 0 !important;
}

.styles_modal__gNwvD form:first-child,
.styles_modal__gNwvD>div:first-of-type,
.styles_modal__gNwvD .t-Dialog,
.styles_modal__gNwvD .t-Dialog-body,
.styles_modal__gNwvD .t-Dialog-body>.container,
.styles_modal__gNwvD .t-Dialog-body>.container>.row,
.styles_modal__gNwvD .t-Dialog-body>.container>.row>.col,
.styles_modal__gNwvD .t-Dialog-body>.container>.row>.col>.t-Region,
.styles_modal__gNwvD .t-Dialog-body>.container>.row>.col>.t-Region .t-Region-bodyWrap,
.styles_modal__gNwvD .t-Dialog-body>.container>.row>.col>.t-Region .t-Region-bodyWrap>.t-Region-body {
    height: 100%;
}

.styles_modal__gNwvD {
    max-width: 100% !important;
    width: 420px !important;
    padding: 0 !important;
    height: 100%;
}

#CreateAccount {
    max-height: 650px;
    max-width: 370px !important;
}

#CreateAccount .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 .selected-flag {
    width: 83px;
}

#CreateAccount .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input[type=tel] {
    padding-left: 86px;
    padding-right: 0;
}

html[dir="rtl"] #CreateAccount .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input[type=tel] {
    padding-left: 7px;
    padding-right: 85px;
}

#CreateAccount .t-Form-fieldContainer--floatingLabel .t-Form-itemWrapper,
#CreateAccount .intl-tel-input {
    width: 100% !important;
}

.modalStyleClass
{
    width: 603px !important;
    height: 66% !important;
    max-width: 100% !important;
    padding: 0 !important;
}

#ForgetPassword .t-Form-fieldContainer--floatingLabel .t-Form-itemWrapper,
#ForgetPassword input.text_field.apex-item-text,
#ForgetPassword .intl-tel-input {
    width: 100% !important;
}

html[dir="rtl"] #ForgetPassword .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input[type=tel] {
    padding-right: 89px;
    padding-left: 0;
}

#CreateAccount .t-Dialog-bodyWrapperIn {
    overflow-y: hidden;
}

#CreateAccount div#PhoneNumber {
    width: 100%;
}

html[dir="rtl"] #CreateAccount .intl-tel-input .country-list {
    z-index: 999;
}

#ForgetPassword {
    max-height: 260px!important;
}

#ForgetPassword .t-Dialog-bodyWrapperIn {
    overflow-y: hidden;
}

#CreateAccount h3 span,
#ForgetPassword h3 span {
    text-transform: capitalize;
}

.styles_modal__gNwvD .intl-tel-input .country-list {
    width: 100%;
}

.styles_modal__gNwvD h3 {
    padding: 1.2rem;
    padding-left:56px!important;
    margin-bottom: 0;
    font-size: 1.6rem;
    text-transform: capitalize;
    letter-spacing: 1px;
}


.styleModalClass
{
    padding: 1.2rem;
    padding-left:56px!important;
    margin-bottom: 0;
    font-size: 1.6rem;
    text-transform: capitalize;
    letter-spacing: 1px;
}

svg.styles_closeIcon__1QwbI {
    width: 25px !important;
    height: 25px !important;
    padding: 4px !important;
    background: #f5f5f5 !important;
    border-radius: 100% !important;
    border: 1px solid #ccc !important;
    cursor: pointer !important;
}

.border-right {
    border-right: 1px solid #c7c7c7 !important;
}

.nay {
    list-style: disc;
    padding: 0 0 0px 15px!important;
    margin-bottom: 0px!important;
}


.nay li {
    padding: 0;
    display: list-item !important;
    list-style: initial;
    font-size: 12px !important;
    letter-spacing: .04em;
    text-transform: inherit;
    font-weight: normal;
}

.moreless-button {
    float: right;
    text-decoration: none;
    cursor: pointer;
}

.fch {
    font-style: unset;
    font-variant: unset;
    font-size: 1.3em;
    line-height: unset;
    letter-spacing: unset;
    text-transform: unset;
    font-weight: 100;
    margin-bottom: 15px;
    font-family: 'Noto Sans KR', Helvetica, Arial, sans-serif;
}

h1.h1p,
h2.h2p,
h3.h3p {
    font-size: 1em !important;
    margin-bottom: 1em !important;
    line-height: 1.4em !important;
    font-weight: bold !important;
}

.more-text {
    display: none;
}

.b-footer_middle {
    padding: 28px 0 28px 0;
}

.collapse-a {
    display: block !important;
}

.b-main_carousel,
.g-wrapper-main_content,
.ui-dialog.m-cookie_privacy {
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 0px;
}

.b-footer_navigation::after {
    content: "";
    display: table;
    clear: both;
}

.t-Form-itemWrapper a.forget-password-link {
    cursor: pointer;
}

html[lang="en"] .b-footer_navigation .b-accordion_wrapper {
    width: 20%;
    float: left;
    margin-left: 0px;
    text-align: left;
}

html[dir="rtl"] .b-footer_navigation .b-accordion_wrapper {
    width: 20%;
    float: right;
    margin-right: 0px;
    text-align: right;
}

html[lang="en"] .b-accordion_title {
    margin-bottom: 15px;
    color: #0D943F;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Noto AR', Helvetica, Arial, sans-serif !important;
}

html[dir="rtl"] .b-accordion_title {
    margin-bottom: 15px;
    color: #0D943F;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0em;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Noto AR', Helvetica, Arial, sans-serif !important;
}

ol,
ul {
    list-style: none;
}

.b-accordion_container li {
    margin-bottom: 5px;
}

.b-accordion_container a {
    color: #000;
    font-size: 12px;
}

.b-footer_navigation .b-accordion_container a {
    letter-spacing: 0.05rem;
}

.b-footer_navigation .navigation_wrapper_2 {
    width: 22%;
}

.b-footer_navigation .navigation_wrapper_4 {
    width: 32%;
}

.b-footer_navigation .b-accordion_container.m-websites {
    columns: auto 2;
}

.b-footer_navigation-catalogue_wrap {
    margin-top: 23px;
    padding-top: 45px;
    border-top: 1px solid rgb(231, 231, 231);
}

.b-footer_navigation .b-accordion_container.m-catalogue {
    position: relative;
    padding-left: 73px;
}

.i-small_arrow::before {
    content: "";
}

.b-footer_navigation .b-accordion_container.m-catalogue a {
    display: inline-block;
    position: relative;
    padding-right: 19px;
    color: #363534;
    font-size: 13px;
}

a.Applogo {
    background: url(https://storage.googleapis.com/nay/icons/app-store-logo.png) 0px -53px no-repeat;
    width: 150px;
    height: 48px;
}

a.Appstore {
    background: url(https://storage.googleapis.com/nay/icons/app-store-logo.png) -159px -104px no-repeat;
    width: 150px;
    height: 53px;
}

a.Acregister {
    background: url(https://storage.googleapis.com/nay/icons/amirah-logo_sprite.png) 37px 0px no-repeat;
    width: 121px;
    height: 95px;
}

html[dir="rtl"] a.Register {
    background: url(https://storage.googleapis.com/nay/icons/amirah-logo_sprite.png) -80px -3px no-repeat !important;
    width: 121px;
    height: 95px;
}

html[dir="rtl"] a.applogo {
    background: url(https://storage.googleapis.com/nay/icons/app-store-logo.png) 0px -53px no-repeat;
    width: 150px;
    height: 48px;
}

html[dir="rtl"] a.appStore {
    background: url(https://storage.googleapis.com/nay/icons/app-store-logo.png) -159px -104px no-repeat;
    width: 150px;
    height: 53px;
}

html[dir="rtl"] .link {
    text-align: right;
}



@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-footer_middle {
        padding: 30px 0px 17px;
    }

    
}

@media only screen and(max-width:640px)
{
    .nay
    {
       
        padding: 0 0 0px 15px !important;
        margin-bottom: 0px! important;
    }
}


@media only screen and (max-width: 991px) and (min-width: 768px) {
    .link {
        /* margin-left: 70px !important; */
    }
}

@media only screen and (max-width:1199px) and (min-width: 992px) {
    .link {
        /* padding-left: 155px !important; */
    }

    .forgotPass {
        margin-left: 0px !important;
    }
}

@media only screen and (max-width:498px) and (min-width: 408px) {
    .link {
        /* padding-left: 130px !important; */
    }

    .forgotPass {
        margin-left: 0px !important;
    }
}

@media only screen and (max-width:407px) and (min-width: 350px) {
    .link {
        /* padding-left: 120px !important; */
    }

    .forgotPass {
        margin-left: 0px !important;
    }
}


@media only screen and (max-width: 767px) {
    .b-footer_middle {
        padding: 0;
    }
}

@media only screen and (max-width: 767px) {

    .b-main_carousel,
    .g-wrapper-main_content,
    .ui-dialog.m-cookie_privacy {
        min-width: 320px;
        max-width: 767px;
        padding: 0px 10px;
    }
}

@media print {

    .b-main_carousel,
    .g-wrapper-main_content,
    .ui-dialog.m-cookie_privacy {
        padding: 0px !important;
    }
}

@media print {
    .b-accordion_wrapper {
        border: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_wrapper {
        width: 100% !important;
        max-width: none;
        margin: 0px -10px -1px;
        padding: 0px 10px;
        border-top: 1px solid rgb(231, 231, 231);
        border-bottom: 1px solid rgb(231, 231, 231);
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_wrapper:first-child {
        border-top: none;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_wrapper {
        width: auto;
        float: none;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_title {
        position: relative;
        margin-bottom: 0px;
        padding: 18px 25px 18px 0px;
        font-size: 14px;
        cursor: pointer;
    }
}

@media print {
    .b-accordion_container {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_container {
        display: none;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container {
        padding: 10px 0px 13px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_wrapper {
        border: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_wrapper {
        width: auto;
        max-width: none;
        margin: 0px -10px -1px;
        padding: 0px 10px;
        border-top: 1px solid rgb(231, 231, 231);
        border-bottom: 1px solid rgb(231, 231, 231);
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_wrapper {
        width: auto;
        float: none;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .navigation_wrapper_2 {
        width: auto;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_title {
        position: relative;
        margin-bottom: 0px;
        padding: 18px 25px 18px 0px;
        font-size: 14px;
        cursor: pointer;
    }
}

@media print {
    .b-accordion_container {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_container {
        display: none;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container {
        padding: 10px 0px 13px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_wrapper {
        border: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_wrapper {
        width: auto;
        max-width: none;
        margin: 0px -10px -1px;
        padding: 0px 10px;
        border-top: 1px solid rgb(231, 231, 231);
        border-bottom: 1px solid rgb(231, 231, 231);
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_wrapper {
        width: auto;
        float: none;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_title {
        position: relative;
        margin-bottom: 0px;
        padding: 18px 25px 18px 0px;
        font-size: 14px;
        cursor: pointer;
    }
}

@media print {
    .b-accordion_container {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_container {
        display: none;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container {
        padding: 10px 0px 13px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_wrapper {
        border: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_wrapper {
        width: auto;
        max-width: none;
        margin: 0px -10px -1px;
        padding: 0px 10px;
        border-top: 1px solid rgb(231, 231, 231);
        border-bottom: 1px solid rgb(231, 231, 231);
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_wrapper {
        width: auto;
        float: none;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .navigation_wrapper_4 {
        width: auto;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_title {
        position: relative;
        margin-bottom: 0px;
        padding: 18px 25px 18px 0px;
        font-size: 14px;
        cursor: pointer;
    }
}

@media print {
    .b-accordion_container {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_container {
        display: none;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container {
        padding: 10px 0px 13px;
    }
}

@media only screen and (max-width: 1199px) {
    .b-footer_navigation .b-accordion_container.m-websites {
        columns: auto 1;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media only screen and (max-width: 1199px) {
    .b-footer_navigation-catalogue_wrap {
        margin-top: 20px;
        padding-top: 0px;
        border-top: none;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation-catalogue_wrap {
        max-width: none;
        margin: 0px -10px;
        padding: 22px 0px 5px;
        border-top: 1px solid rgb(231, 231, 231);
    }
}

@media print {
    .b-accordion_container {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_container {
        display: none;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container {
        padding: 10px 0px 13px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-footer_navigation .b-accordion_container.m-catalogue {
        padding-left: 60px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container.m-catalogue {
        display: block;
        width: 210px;
        margin: 0px auto;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-footer_navigation .b-accordion_container.m-catalogue li {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-footer_navigation .b-accordion_container.m-catalogue a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container.m-catalogue a {
        text-transform: lowercase;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-footer_navigation .b-accordion_container.m-catalogue li {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-footer_navigation .b-accordion_container.m-catalogue a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container.m-catalogue a {
        text-transform: lowercase;
    }
}

.moreless-button {
    float: right;
    text-decoration: none;
    cursor: pointer;
}

.fch {
    font-style: unset;
    font-variant: unset;
    font-size: 1.3em;
    line-height: unset;
    letter-spacing: unset;
    text-transform: unset;
    font-weight: 100;
    margin-bottom: 15px;
    font-family: 'Noto Sans KR', Helvetica, Arial, sans-serif;
}

h1.h1p,
h2.h2p,
h3.h3p {
    font-size: 1em !important;
    margin-bottom: 1em !important;
    line-height: 1.4em !important;
}

.m-more-text {
    display: none;
}

.secondHeaderTitle {
    padding-top: 45px;
    color: #0d943f;
    font-weight: bold;
}

.paddingBottom {
    padding-bottom: 3%;
    border-bottom: 1px solid #999999;
}

.backWhite {
    background: #ffffff;
}

.borderBlock {
    /* border: 1px solid #b3b3b3; */
    height: auto;
}

.rightSpace {
    margin-right: 15px;
}

.leftSpace {
    margin-left: 15px;
}

.loginFormHight{
    height: 1000px;
    overflow: hidden!important;
}

@media only screen and (max-width: 767px) {
    .loginFormHight{
        height: auto!important;
        overflow: hidden!important;
    }
}

.topSpace {}

@media only screen and (max-width: 770px) and (min-width: 300px) {
    .leftSpace {
        flex: 0 0 95.666667% !important;
        max-width: 100% !important;
        width: 100%;
    }

    .topSpace {
        margin-bottom: 30px;
    }

    .colUp {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

.paddingNull {
    padding: 0px;
}

.alignCenter {
    text-align: center;
    color: #0d943f;
    padding-bottom: 36px;
    font-size: 30px;
    justify-content: center;
}

.headerText {
    /* padding: 0.979px 12.979px 4.979px 12.979px; */
    padding: 0.979px 15.979px 4.979px;
    font-size: 11px;
}

.loginButtonOnLoginPage{
    padding: 4px
}

html[dir="rtl"] .loginButtonOnLoginPage{
    padding: 0px
}

html[dir="rtl"] .headerText {
    text-align: right;
}

html[dir=rtl] .t-Region-body {
    text-align: right
}

html[dir="rtl"] .nay {
    text-align: right !important;
}

.headerBottom {
    padding-bottom: 1%;
}

/* //mycss */

.button1 {
    max-height: 40px !important;
    background: #0D943F;
    text-decoration: none;
    color: white;
    text-align: center;
    width: fit-content;
    border-radius: 0px;
    margin: 0px;
    padding: 10px 40px 10px 40px;
    cursor: pointer;
}

.button1:hover {
    background: #20b579;
}

.button1:active {
    background: #1f784d;
}



/* //pending padding apply on last size */

.button2 {
    cursor: pointer;
    max-height: 40px !important;
    background: #ee0e19;
    text-decoration: none;
    color: white;
    text-align: center;
    width: fit-content;
    border-radius: 0px;
    margin: 0px;
    padding: 10px 40px 10px 40px;
}

.button2:hover {
    background: #f55f56;
}

.button2:active {
    background: #cd2d23;
}

/* button type 2 */

.button3 {
    cursor: pointer;
    max-height: 40px !important;
    background: #2d7bb2;
    text-decoration: none;
    color: white;
    text-align: center;
    width: 100%;
    border-radius: 0px;
    margin: 0px;
    padding: 10px 30px 10px 30px;
}


.button4 {
    max-height: 40px !important;
    background: #ffffff;
    text-decoration: none;
    color: #0d943f;
    text-align: center;
    width: 100%;
    border-radius: 0px;
    margin: 0px;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    border: 1px solid;
    -webkit-text-stroke-width: 1px;
}

.forgotPass {
    float: right !important;
}


/* strock query in button 4 */

.button5 {
    max-height: 40px !important;
    background: #20b579;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    width: fit-content;
    border-radius: 0px;
    margin: 0px;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
}

.button5:hover {
    background: #22d68e;
}

.button-add-to-basket {
    max-height: 40px !important;
    background: #ee0e19;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    width: 154px;
    border-radius: 0px;
    margin: 0px;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
}

.button-add-to-basket:active {
    background: #cd2d23;
}


.button-pre-order {
    max-height: 40px !important;
    background: #20b579;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    width: 154px;
    border-radius: 0px;
    margin: 0px;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
}

.button-pre-order:active {
    background: #169662;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 15px 12px 15px;
    margin: 0px;
    color: #999999;
    border: 1px solid #999999;
}

input:focus {
    border: 1px solid #1f784d;
}

input[type=email] {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 15px 12px 15px;
    margin: 0px;
    color: #999999;
    border: 1px solid #999999;
}

input[type=password] {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 15px 12px 15px;
    margin: 0px;
    color: #999999;
    border: 1px solid #999999;
}

input:focus {
    border: 1px solid #1f784d;
}



/* error message should be check */
.error {
    border: 1px solid #e20035;
}


/* SELECT bOX */
.countSelect {
    display: inline-block;
    padding: 12px 22px 29px 14px;
    border: 1px solid #999999;
    max-height: 40px;
    color: black;
    max-width: 40px;
}

.incrementButton {
    display: inline-block;
    font-size: x-large;
    padding: 0px 10px 0px 0px;
}

.incrementButton:hover {
    color: #0d943f;
    cursor: pointer;
    cursor: hand
}

.decrementButton {
    display: inline-block;
    font-size: x-large;
    padding: 0px 0px 0px 10px;
}

.decrementButton:hover {
    color: #0d943f;
    cursor: pointer;
    cursor: hand
}

textarea {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border: 1px solid #999999;
    border-radius: 0;
    background-color: #ffff;
    font-size: 16px;
    padding: 0px 15px 0px 15px;
}

textarea .error {
    border: 1px solid #e20035;
}

.paddingBottom20 {
    padding-bottom: 20px;
}

/* Check Box */

/* The container */
.checkBox {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkBox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #333;
}

/* On mouse-over, add a grey background color 
  .container:hover input ~ .checkmark {
    background-color: #333
  }
  */
.checkBox input:checked~.checkmark {
    background-color: #fff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    /* backgroud-color : #333; */
}

/* Show the checkmark when checked */
.checkBox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkBox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #34a55e;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.promoText {
    font-size: 11px;

    width: fit-content;

    font-style: oblique;
    border-radius: 17px;
    font-weight: bold;
    padding: 0px 9px 0px 9px;
}

.green {
    color: #53a940;
    border: 1px solid #53a940;
}

.pink {
    border: 1px solid #e71294;
    color: #e71294;
}

/* .promoTextPink{
    font-size: 11px;
    border: 1px solid #e71294;
    width: fit-content;
    color: #e71294;
    font-style: oblique;
    border-radius: 17px;
    font-weight: bold;
    padding: 0px 9px 0px 9px;
  } */

/* arrow */

.arrows {
    width: 33px;
    height: 33px;
    border-color: #0d943f;
    color: #0d943f;
    position: absolute;
    top: 50%;
    margin-top: -31px;
}

.arrows:hover {
    border-color: #20b579;
}

.prev {
    border-bottom: 6px solid;
    border-left: 6px solid;
    transform: rotate(45deg);
    left: 10px;
}

.next {
    border-bottom: 6px solid;
    border-left: 6px solid;
    transform: rotate(-135deg);
    right: 10px;

}

.padding {
    padding: 0px 0px 20px 0px !important;
    background: #ffffff;
}

.rmPadding {
    padding-left: 0;
    padding-right: 0;
}

.rmTopPadding {
    padding-top: 0;
}

.sideBarHidden {
    overflow: hidden !important;
}

.right {
    float: right;
}

.pad30 {
    padding-bottom: 30px;
}

.block-title {
    font-size: 14px;
    line-height: 16px;

    font-weight: bold;
    color: #0d943f;
    display: inline-block;
    margin: 0;
}

.bottomPadding {
    padding-bottom: 1px;
}

.contents {
    display: contents !important;
}

.bolt {
    font-weight: bold;
}

.link {
    color: #0d943f !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    cursor: pointer;
}



.borderBottom {
    border-bottom: 1px solid #999999;
    padding-bottom: 6%;
}

.orBottom {
    justify-content: center;
    padding-bottom: 3%;
}
@media (max-width: 767px){
   .button-add-to-basket {   
    margin-top: 10px !important;
}
    }

