.update-password-header{
    padding-left: 25%;
}
html[dir="rtl"] .update-password-header{
    padding-right: 26%;
}

.update-password-conatiner{
   
    border-bottom: 1px #e1e1e1 solid !important;
}
.password-section-form{
    margin: 40px 0px;
}

.form-control-input{
    height: 50px;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    font-size: 13px;
    line-height: 20px;
    color: #4f4f4f;
}

html[dir="rtl"] .control-label{
    margin-right: 0px !important;
}
html[dir="rtl"] .save-button{
    margin-top: 10px;
    margin-right: 44px;
}

html[dir="rtl"] .cancel-button{
    margin-top: 10px;
    margin-right: 0px;   
}
.cancel-button{
    vertical-align: middle; 

}

.save-button{
    vertical-align: middle;
    background-color: #0c8539;
    border-color: #0c8539;
}
